* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container--loader {
    background-color: var(--eerie-black);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: loader 1.5s infinite ease-in-out;
}

.loader {
    color: var(--beaver);
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5rem;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5rem;
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5rem 0 -1.3rem;
    }
    40% {
        box-shadow: 0 2.5rem 0 0;
    }
}

/* Header */

nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
}

/* Home */

.image_home {
    max-width: 50rem;
}

.container_text-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_text-1 {
    margin-right: 1rem;
    font-size: 2.4rem;
}

.home_text-2 {
    font-size: 3.6rem;
}

.home_text-3 {
    width: max-content;
    max-width: 90vw;
    white-space: nowrap;
}

/* Sobre mi */

.sobreMi {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_texto-sobreMi {
    padding: 4rem;
}

.title_sobreMi {
    font-size: 3rem;
}

.texto_sobreMi {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.container_image-sobreMi {
    width: 65%;
    margin-top: 2rem;
}

/* Habilidades */

.cards_container--habilidades {
    column-gap: 4rem;
}

/* Formación */

.cards_container--formacion {
    flex-wrap: wrap;
    flex-direction: row;
}

.cards--formacion {
    margin: 0 2rem 3rem 2rem;
}

/* Proyectos */

.cards--proyectos {
    max-width: 48rem;
}

.container_btn--proyectos button {
    width: 20.6rem;
}

/* Contacto */

.container--contacto {
    margin: 0 auto;
    width: 80%;
}
